---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About Me">
  <p>I have experience in Big Data, Cloud, and Analytics. I specialize in Snowflake, AWS, Apache Spark, and real-time data streaming tools like Kafka and Flink.</p>
</BaseLayout>
